.features-section {
  padding: 165px 0;
  border: 1px solid black;
}
.features-container {
  margin: auto;
}
.features-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.features-child {
  flex: 1;
  border: 1px solid black;
}
