/* Welcome section styles */

.welcome-section {
  padding: 165px 0;
}
.welcome-container {
  margin: auto;
}
.welcome-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.welcome-child {
  flex: 1;
}
.welcome-title {
  line-height: 1.2;
  font-size: 51px;
  font-weight: 400;
}
.welcome-description {
  color: #869ab8;
  margin-bottom: 50px;
  font-size: 22px;
}
.welcome-img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: 100%;
}
.welcome-button {
  padding: 15px;
  margin: 0 30px 0 0;
}
.welcome-button-primary {
  border-radius: 6px;
  font-weight: 700;
  color: white;
  border: 1px solid transparent;
  background-color: blue;
}
.welcome-button-default {
  border-radius: 6px;
  font-weight: 700;
  color: blue;
  border: 1px solid transparent;
  background-color: #eaeffd;
}
.welcome-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
}
.fas {
  speak: none;
  font-size: 18px;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
